// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pwm/pwm.h>
#include "rk3528.dtsi"

/ {
	model = "Vontar DQ08";
	compatible = "vontar,dq08", "rockchip,rk3528";

	aliases {
		ethernet0 = &gmac0;
		i2c1 = &i2c1;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:1500000n8";
	};

	ir-receiver {
		compatible = "gpio-ir-receiver";
		gpios = <&gpio4 RK_PC6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&ir_receiver_pin>;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&power_led_h>;

		led-power {
			color = <LED_COLOR_ID_GREEN>;
			default-state = "on";
			function = LED_FUNCTION_POWER;
			gpios = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			retain-state-suspended;
		};
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_reset_l>, <&clkm0_32k_out>;
		post-power-on-delay-ms = <200>;
		reset-gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
	};

	vcc5v0_sys: regulator-vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc5v0_host: regulator-vcc5v0-host {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_host_5v_en_h>;
		regulator-name = "vcc5v0_host";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_3v3: regulator-vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_1v8: regulator-vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_sd: regulator-vcc-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3>;
	};

	vccio_sd: regulator-vccio-sd {
		compatible = "regulator-fixed";
		regulator-name = "vccio_sd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_wifi: regulator-vcc3v3-wifi {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_power_en_h>;
		regulator-name = "vcc3v3_wifi";
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sd>;
	};

	vdd_arm: regulator-vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 PWM_POLARITY_INVERTED>;
		pwm-supply = <&vcc5v0_sys>;
		regulator-name = "vdd_arm";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <746000>;
		regulator-max-microvolt = <1201000>;
		regulator-settling-time-up-us = <250>;
	};

	vdd_logic: regulator-vdd-logic {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 5000 PWM_POLARITY_INVERTED>;
		pwm-supply = <&vcc5v0_sys>;
		regulator-name = "vdd_logic";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <705000>;
		regulator-max-microvolt = <1006000>;
		regulator-settling-time-up-us = <250>;
	};
};

&combphy {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu1 {
	cpu-supply = <&vdd_arm>;
};

&cpu2 {
	cpu-supply = <&vdd_arm>;
};

&cpu3 {
	cpu-supply = <&vdd_arm>;
};

&gmac0 {
	clock_in_out = "input";
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_logic>;
	sram-supply = <&vdd_logic>;
	status = "okay";
};

&i2c1 {
	/*
	 * GPIO4's IOC registers are gated by RK3528_PD_RKVENC.  The driver
	 * core applies the default pinctrl state before the device's power
	 * domain is active, which can cause a synchronous external abort.
	 * Defer the real mux until pinctrl_init_done(), after probe.
	 */
	pinctrl-names = "default", "init";
	pinctrl-0 = <&i2c1m0_xfer>;
	pinctrl-1 = <>;
	status = "okay";
};

&pinctrl {
	bluetooth {
		bt_enable_h: bt-enable-h {
			rockchip,pins = <3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_host_wake_h: bt-host-wake-h {
			rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	ir-receiver {
		ir_receiver_pin: ir-receiver-pin {
			rockchip,pins = <4 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	leds {
		power_led_h: power-led-h {
			rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		usb_host_5v_en_h: usb-host-5v-en-h {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wifi {
		wifi_host_wake_h: wifi-host-wake-h {
			rockchip,pins = <3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		wifi_power_en_h: wifi-power-en-h {
			rockchip,pins = <3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		wifi_reset_l: wifi-reset-l {
			rockchip,pins = <3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1m0_pins>;
	status = "okay";
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm2m0_pins>;
	status = "okay";
};

&rmii0_phy {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_1v8>;
	status = "okay";
};

&sdio1 {
	#address-cells = <1>;
	#size-cells = <0>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	no-mmc;
	no-sd;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio1_bus4>, <&sdio1_cmd>, <&sdio1_clk>;
	sd-uhs-ddr50;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_wifi>;
	vqmmc-supply = <&vccio_sd>;
	wakeup-source;
	status = "okay";

	rtl8822cs: wifi@1 {
		reg = <1>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PB3 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wake";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_h>;
		wakeup-source;
	};
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	no-mmc;
	no-sdio;
	vmmc-supply = <&vcc_sd>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0m0_xfer>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m0_xfer>, <&uart2m0_ctsn>, <&uart2m0_rtsn>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "realtek,rtl8822cs-bt";
		enable-gpios = <&gpio3 RK_PC2 GPIO_ACTIVE_HIGH>;
		host-wake-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&bt_enable_h>, <&bt_host_wake_h>;
	};
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m1_xfer>;
	status = "okay";
};

&u2phy {
	status = "okay";
};

&u2phy_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy_otg {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host0_xhci {
	dr_mode = "host";
	phys = <&u2phy_otg>, <&combphy PHY_TYPE_USB3>;
	phy-names = "usb2-phy", "usb3-phy";
	status = "okay";
};
